html, body {
  margin: 20px;
}

h2 {
  margin: 0px 10px 20px 10px;
}

h3 {
  margin: 0px 0px 15px 0px;
}

p {
  margin: 0px 0px 30px 0px;
}

#testResults {
  width: 100%;
  height: 400px;
  padding: 0px;
  margin: 0px 10px 20px 10px;
}

div {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: 10px;
  float: left;
}


.twentybg {
  background: #333333;  /*20%, Very dark gray, Very dark gray.*/
  color: #ffffff
}
.fourtybg {
  background: #666666;  /*40%, Very dark gray, a websafe color.*/
  color: #ffffff
}
.sixtybg {
  background: #999999;  /*60%, Dark gray, a websafe color.*/
  color: #ffffff
}
.eightybg {
  background: #cccccc;  /*80%, Light gray, a websafe color.*/
  color: #ffffff
}
